<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
<title>Wicked Wheel eNews</title>

<style>
* { margin:0; padding:0; }
@media screen and (max-width: 627px) {
	.fill {
		width:100% !important;
		margin:5px 0 !important;
		padding:0 !important;
	}
	.center {
		text-align:center !important;
	}
}
</style>
</head>

<body bgcolor="#000" style="background:#000;">
<p style="text-align:center; display:none;">Thank you for subscribing to our email newsletter where you’ll receive special offers and event announcements.</p>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center" style="padding:10px 0;">
<p style="color:#616161; font-family:Verdana; font-size:13px; margin:10px;">%TODAY% | <a style="color:#616161;"  href="http://kmailer.kerigan.com/preview.php?c=%CAMPAIGNID%&m=0&previewtype=html" target="_blank" >View in browser</a></p>
<table cellpadding="0" cellspacing="0" border="0" width="627" style="width:627px; max-width:100%;" class="fill" ><tr><td style="border:1px solid #f58c3a;">

	<table cellpadding="0" cellspacing="0" border="0" >
    	<tr><td id="header" style="border-bottom:1px solid #f58c3a; width:100%;"><p style="line-height:0; margin:0;"><a href="http://thewickedwheel.com" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/header.jpg" style="display:block; max-width:100%;" /></a></p></td></tr>
    </table>

	<table cellpadding="0" cellspacing="0" border="0">
    	<tr>
        <td style="padding:0;">
        	<p style="font-family:Verdana; color:#FFF; font-size:17px; text-align:center; margin:20px 20px 10px">Thank you for subscribing to our email newsletter where you’ll receive special offers and event announcements. And, be sure to check out Pineapple Willy’s at the link below.</p>
        </td>
        </tr>
    </table>
    
    <table cellpadding="0" cellspacing="0" border="0">
    	<tr>
        <td style="padding:13px 13px 0; width:100%;" align="center">
        	<p style="line-height:0; margin:0;"><a href="http://thewickedwheel.com/upcoming-events/local-love-lunch/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/local-love.jpg" style="display:block; max-width:100%;" /></a></p>
        </td>
        </tr>
    </table>
    
    <table cellpadding="0" cellspacing="0" border="0">
    	<tr>
        <td style="padding:13px;" align="center">
        
        	<table cellpadding="0" cellspacing="0" border="0" align="left" class="fill" >
        	<tr>
            <td style="padding:0; " class="fill"><table cellpadding="0" cellspacing="0" border="0"  class="fill" ><tr><td bgcolor="#f58c3a" style="background:#f58c3a; padding:0 20px;height:50px;" align="center" class="fill" valign="middle"><p style="line-height:35px; color:#FFF; margin:0; padding:0; font-size:17px;"><a href="http://thewickedwheel.com/menu/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/full-menu.png" alt="FULL MENU" /></a></p></td>
            </tr></table></td>
            
            <!--[if !mso]-->
        	</tr>
            </table>

            <table class="fill" border="0" cellspacing="0" cellpadding="0" align="left" >
            <tr>
        	<!--[endif]-->
            
            <td style="padding:0 12px;" class="fill"><table cellpadding="0" cellspacing="0" border="0" class="fill" ><tr>
            <td bgcolor="#f58c3a" style="background:#f58c3a; padding:0 16px 0 17px; height:50px;" align="center" class="fill" valign="middle"><p style="line-height:35px; color:#FFF; margin:0; padding:0; font-size:17px;"><a href="http://thewickedwheel.com/events/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/specials-events.png" alt="FULL MENU" /></a></p></td>
            </tr></table></td>
            
            <!--[if !mso]-->
        	</tr>
            </table>

            <table class="fill" border="0" cellspacing="0" cellpadding="0" align="left" >
            <tr>
        	<!--[endif]-->
        	
            <td style="padding:0;" class="fill"><table cellpadding="0" cellspacing="0" border="0" class="fill" ><tr>
        	<td bgcolor="#f58c3a" style="background:#f58c3a; padding:0 16px; height:50px;" align="center" class="fill" valign="middle"><p style="line-height:35px; color:#FFF; margin:0; padding:0; font-size:17px;"><a href="http://thewickedwheel.myshopify.com/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/wicked-shop.png" alt="FULL MENU" /></a></p></td></tr>
            </table></td>
            </tr>
            </table>
        
        </td>
        </tr>
    </table>
	
    <table cellpadding="0" cellspacing="0" border="0">
    	<tr>
        <td style="padding:20px 0 0;">
        	<p style="font-family:Verdana; color:#FFF; font-size:17px; text-align:center; margin:0 13px 10px;">Voted the Beach's Best Fried Chicken, with New Orleans Style Catfish, Big Burgers, and Southern Sides&mdash;all served in a family-friendly atmosphere. </p>
            <img src="http://thewickedwheel.com/enews/template/images/tiremark.jpg" style="display:block; max-width:100%;" />
        </td>
        </tr>
    </table>
    
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
    	<tr>
        <td style="padding:20px 0 0; background:#f58c3a;" bgcolor="#f58c3a" >
        	
            <table cellpadding="0" cellspacing="0" border="0" align="left" class="fill" style="width:260px;" >
        	<tr>
            <td style="padding:0 16px;" class="fill"><table cellpadding="0" cellspacing="0" border="0"  class="fill" ><tr><td bgcolor="#f58c3a" style="background:#f58c3a; padding:0;height:50px;" class="fill center" valign="middle">
            <p style="line-height:1.3em; color:#FFF; margin:0; padding:0; font-size:15px; font-family:Verdana;">10025 Hutchinson Blvd.<br>Panama City Beach, FL 32407</p>
            <p style="line-height:1.3em; color:#000; margin:15px 0; padding:0; font-size:22px; font-family:Verdana; font-weight:bold;">850-588-7947</p>
            <p style="line-height:1.3em; color:#FFF; margin:0; padding:0; font-size:15px; font-family:Verdana;">OPEN 11AM DAILY</p>
            <p style="line-height:1.3em; color:#FFF; margin:30px 0 6px; padding:0; font-size:15px; font-weight:bold; font-family:Verdana;">CONNECT</p>
            <p style="margin:0">
            <a href="https://www.facebook.com/TheWickedWheel/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/facebook.png" /></a>&nbsp; 
            <a href="https://www.instagram.com/TheWickedWheel/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/instagram.png" /></a>&nbsp;
            <a href="https://twitter.com/TheWickedWheel/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/twitter.png" /></a>&nbsp;
            <a href="https://plus.google.com/103335905025395137461/about?hl=en-US" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/gplus.png" /></a>&nbsp;
            </p>
            </td>
            </tr></table></td>
            
            <!--[if !mso]-->
        	</tr>
            </table>

            <table class="fill" border="0" cellspacing="0" cellpadding="0" align="left" >
            <tr>
        	<!--[endif]-->
        	
            <td style="padding:0;" class="fill"><table cellpadding="0" cellspacing="0" border="0" class="fill" ><tr>
        	<td bgcolor="#f58c3a" style="background:#f58c3a; padding:0 16px 16px; height:50px;" align="center" class="fill" valign="middle"><p style="line-height:35px; color:#FFF; margin:0; padding:0; font-size:17px;"><a href="http://thewickedwheel.com/" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/ww-map.jpg" /></a></p></td></tr>
            </table></td>
            </tr>
            </table>
            
            <p>&nbsp;</p>
            
        </td>
        </tr>
    </table>

</td></tr></table>
<p style="text-align:center; margin:15px"><a href="http://pwillys.com" target="_blank" ><img src="http://thewickedwheel.com/enews/template/images/pwillys.png" /></a></p>
<p style="color:#616161; font-family:Verdana; font-size:13px; margin:10px;">If you are no longer interested in receiving specials from The Wicked Wheel <br>
<a style="color:#616161; " href="%UNSUBSCRIBELINK%">click here to unsubscribe</a>.</p>
</td></tr></table>

</body>
</html>
